<% if(results.length) { %> <% results.forEach(({ searchName, name, brand,
bodysize, description1, price, img } = result) => {%>
<p><%= searchName %> - $<%= price %></p>
<% if(brand === "Martin") { %>
<img src="<%= img %>" alt="" />
<% } else { %>
<img width="50%" src="<%= img %>" alt="" />
<% } %> <% }) %> <% } else {%> <% if(searchTermTrimmed === "") {%>
<p class="search-info-text">No search results found.</p>
<% } else {%>
<p class="search-info-text">
  No search results found for:
  <span class="search-term">"<%= searchTermTrimmed %>"</span>.
</p>
<% } %> <% } %>
