<!DOCTYPE html>
<html>
  <head>
    <title>Guitar Village: Acoustics For All</title>
    <link rel="icon" type="image/x-icon" href="/images/guitar_logo_icon.svg" />
    <script
      src="https://kit.fontawesome.com/53c8ee4293.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/stylesheets/index.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Overpass+Mono&display=swap"
      rel="stylesheet"
    />
  </head>
</html>
