<%- include ("head") %>
<body>
  <%- include ("navbar") %>
  <div class="site-wrapper">
    <div class="content">
      <h1>Homepage</h1>
      <h2>BY BRAND</h2>
      <p><a href="/brand/Martin">Martin Guitars</a></p>
      <p><a href="/brand/Taylor">Taylor Guitars</a></p>
      <p><a href="/brand/Gibson">Gibson Guitars</a></p>
      <p><a href="/brand/Orangewood">Orangewood Guitars</a></p>
    </div>
  </div>
  <%- include ("footer") %>
</body>
