<nav class="nav-desktop">
  <div class="nav-wrapper">
    <div class="nav-content">
      <a aria-label="to homepage" href="/"
        ><img src="/images/gv_logo.svg" alt=""
      /></a>
      <form
        aria-label="search form"
        class="search"
        action="/search?search=<%= searchTermTrimmed %>"
        method="get"
        id="searchbar"
      >
        <input
          aria-label="search bar"
          class="search-bar"
          name="q"
          type="text"
          id="search"
          placeholder="Search guitars"
          autocomplete="off"
        />
        <button aria-label="search" class="nav-btn" type="submit">
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
      </form>
      <div class="icons">
        <i class="fa-solid fa-cart-shopping"></i>
      </div>
    </div>
  </div>
</nav>
