<nav class="nav-desktop">
  <div class="nav-wrapper">
    <div class="nav-content">
      <a href="/"><img src="/images/gv_logo.svg" alt="" /></a>
      <form class="search" action="/search" method="post" id="search">
        <input
          class="search-bar"
          name="search"
          type="text"
          id="search"
          placeholder="Search guitars"
          autocomplete="off"
        />
        <button class="nav-btn" type="submit">
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
      </form>
      <ul class="icons">
        <i class="fa-solid fa-cart-shopping"></i>
      </ul>
    </div>
  </div>
</nav>
